@font-face {
  font-family: "Gotham";
  src: local("Gotham"), url("http://marcysutton.com/fonts/Gotham/Gotham-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Gotham-Book";
  src: local("Gotham-Book"), url("http://marcysutton.com/fonts/Gotham/Gotham-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Gotham-Italic";
  src: local("Gotham-Italic"), url("http://marcysutton.com/fonts/Gotham/Gotham-MediumItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Gotham-Bold";
  src: local("Gotham-Bold"), url("http://marcysutton.com/fonts/Gotham/Gotham-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: bold; }

.reveal section.slides-index {
  display: block;
}
  .reveal .slides-index h1,
  .reveal .h3-style {
    font-size: 1.5em;
  }
  .reveal .slides-index h2 {
    margin-top: 1em;
  }
  .reveal .slides-index h2,
  .reveal .h4-style {
    font-size: 1em;
  }